.mobile {
    display: none;
}

.desktop {
    display: block;
}

.com-container {
    background: #222;
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 88px;
}

.com-box {
    margin-top: 61px;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 165px);
    padding: 15px 0 90px 0;
    overflow: auto;
}

.com-box::-webkit-scrollbar {
    display: none;
}

.com-each-completion {
    background-color: #000;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    border: solid 1px #444;
}

.com-each-completion img {
    width: 100px;
    min-width: 100px;
    height: 130px;
    border-radius: 10px;
    object-fit: contain;
    background-color: #fff;

}

.com-text {
    padding: 0 15px;
    width: 100%;
    letter-spacing: .5px;
}

.com-i-text {
    color: #f2f2f2;
    font-weight: 600;
    padding: 10px;
}

.com-o-text {
    color: #aecbfa;
    font-weight: 600;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    line-height: 135%;
}

@media (max-width:700px) {
    .com-box {
        margin-top: 56px;
    }

    .com-text {
        padding: 0 0 15px 8px;
        display: flex;

    }

    .com-o-text{
        font-weight: 500;

    }
    .com-each-completion {
        border-radius: 0;
        display: block;
        border-left: 0;
        border-right: 0;
    }

    .com-each-completion img {
        width: 70px;
        min-width: 70px;
        height: 80px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

}