.mobile {
    display: none;
}

.desktop {
    display: block;
}

.com-container {
    background: #222;
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.com-box {
    margin-top: 61px;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 95px 0;
    overflow: auto;
    scroll-behavior: smooth;
}

.com-box::-webkit-scrollbar {
    width: 5px;
}

.com-box::-webkit-scrollbar-thumb{
    background-color: #82b2ff;
    border-radius: 20px;
}


.com-each-completion {
    background-color: #000;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    border: solid 1px #444;
}

.com-each-completion img {
    width: 100px;
    min-width: 100px;
    height: 130px;
    border-radius: 10px;
    object-fit: contain;
    background-color: #fff;

}

.com-text {
    padding: 0 15px;
    width: 100%;
    letter-spacing: .5px;
}

.com-i-text {
    color: #c4c3c3;
    font-weight: 600;
    padding: 10px;
}

.com-o-text {
    color: #82b2ffe6;
    font-weight: 600;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    line-height: 145%;
    opacity: 0.85;
}

.com-loader{
    display: inline-flex;
    position: absolute; 
    top: 65px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #555;
    padding: 2px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

@media (max-width:700px) {
    .com-box {
        margin-top: 56px;
                padding: 10px 0 145px 0;

    }

    .com-text {
        padding: 0 0 15px 8px;
        display: flex;

    }

    .com-each-completion {
        border-radius: 0;
        display: block;
        border-left: 0;
        border-right: 0;

    }

    .com-each-completion img {
        width: 75px;
        min-width: 75px;
        height: 85px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

}