.ch-position{
    position: fixed;
    top: 61px; 
    width: 100%;
    z-index: 1;
    display: none;
    transition: display .5s ease-in-out;
}

.ch-container{
    height: calc(100vh - 61px);
    width: 100%;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: #f2f2f2;
    position: relative;
}

.ch-part1{
    display: flex ;
    flex-direction: column;
    border-right: 1px solid #333;
    overflow: hidden;
}

.ch-p1-dates{
    position: relative;
    padding: 10px;
    overflow: auto;
    height: 100%;
}

.ch-p1-dates::-webkit-scrollbar {
    width: 5px;
}

.ch-p1-dates::-webkit-scrollbar-thumb{
    background-color: #82b2ff;
    border-radius: 20px;
}

.ch-p1-date-card{
    padding: 13px 10px;
    border-radius:8px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    letter-spacing: .5px;
    border: 2px solid #222;
    margin: 5px 0;
    
}
.ch-p1-date-card:hover{
    background-color: #222;
}

.ch-p1-dc-active{
    background-color: #222;
    border: 2px solid #458af8;
    color: #458af8;

}
.ch-p1-title, .ch-p2-title{
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #333;

}

.ch-p2-title i{
    display: none;
}

.ch-part2{
    overflow: hidden;
    position: relative;
}
.ch-p2-com{
    background-color: #222;
    height: calc(100% - 80.4px);
    overflow: auto;
    padding: 20px;
   
}
.ch-p2-com::-webkit-scrollbar {
    width: 5px;
}

.ch-p2-com::-webkit-scrollbar-thumb{
    background-color: #82b2ff;
    border-radius: 20px;
}


.ch-loader{
    display: inline-flex;
    position: absolute;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #555;
    padding: 2px;
    transition: opacity .5s ease-in-out;
    top: 45px;
    opacity: 0;
    left: calc(50% - 16.5px);

}
.ch-loader-dates{
    display: inline-flex;
    position: absolute;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #555;
    padding: 2px;
    transition: opacity .5s ease-in-out;
    top: 45px;
    left: calc(50% - 16.5px);

}

.ch-p2-instruction{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    height: 100%;
}
.ch-p2-instruction span{
    max-width: 500px;
    text-align: center;
    padding-bottom: 50px;
}

@media (max-width:700px) {
    .ch-position{
        top: 57px;
    }
    .ch-container{
        height: calc(100vh - 57px);
        grid-template-columns: 1fr;
    }

    .ch-part1{
        display: none;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: #000;
        top: 50px;
    }
    .ch-p2-com{
        padding: 15px 8px;
        height: calc(100% - 120px);

    }
    .ch-p2-com .com-each-completion{
        border-radius: 20px;
    }
    .ch-p1-title{
        display: none;
    }
    .ch-p2-title{
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .ch-p2-title i{
        display: inline;
        padding: 0 10px;
    }
    
    .ch-p1-date-card{
        margin: 8px 0;
        padding: 15px 10px;
    }
    
}