.h-container{
    background-color: #000;
    border-bottom: 1px solid #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px ;
}
.h-position{
    position: fixed;
    top: 0; 
    width: 100%;

}

.h-container > div{
    display: flex;
    align-items: center;
}

/* sidebar and brand */
.h-sidebar-icon{
    all: unset;
    font-size: 20px;
    padding: 15px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.h-sidebar-icon:hover,.h-sidebar-icon-active{
    background-color: #222;
}

.h-sidebar-icon i{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.h-brand{
    font-weight: bold;
    font-size: 19px;
    cursor:default;
    background: linear-gradient(25deg, #00d2ff, #3a7bd5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* profile */
.h-profile{
    cursor: pointer;
    border-radius: 30px;
}
.h-profile:hover{
    background-color: #222;
    
}
.h-profileName{
    font-weight: bold;
    padding: 0 10px 0 0;
}
.h-profileImg{
    width: 25px;
    border-radius: 50%;
    margin:7px 7px 7px 7px;
}

@media (max-width:700px) {
    .h-container{
        padding: 8px 20px;
    }
    .h-profile:hover{
        background-color: #000;
    }
    .h-profileName{
        display: none;
    }
    .h-profileImg{
        margin: 5px 0;
        width: 30px;
    }
}