.pi-position{
    position: fixed;
    bottom: 30px;
}

.pi-container{
    color: #cacaca;
}


/* input */
.pi-input-width{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.pi-input-group{
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.pi-input{
    all:unset;
    padding:18px 50px 18px 57px;
    border-radius: 30px;
    background-color: #000;
    border: 1px solid #333;
    letter-spacing: 1px;
    font-weight: 600;
    width: 100%;
    position: relative;
    overflow-wrap: break-word;
}
.pi-input:focus{
    border: 1px solid #888;

}
.pi-input::-webkit-scrollbar{
    display: none;
}

/* image container */
.pi-image-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pi-selected-image{
    background-color: #000;
    border-radius: 8px;
    padding: 20px;
    margin: 20px ;
    border: 1px solid #888;


}

.pi-selected-image img{
    border-radius: 8px;

    max-height: 200px;
    max-width: 450px;
    width: 100%;
}


/* camera icon */
.pi-camera-icon{
    padding: 10px 12px;
    position: absolute;
    z-index: 1;
    background-color: #222;
    border-radius: 50%;
    left: 30px;
    bottom: 8.8px;
    cursor: pointer;
    overflow: hidden;
}

.pi-file-input{
    position: absolute;
    left: 0;
    bottom: 0px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-bottom: 25px;
}


/* microphone icon */
.pi-microphone-icon{
    padding: 10px 14px;
    position: absolute;
    right:59px;
    bottom: 8.8px;
    cursor: pointer;
    border-radius: 50%;
}
.pi-microphone-icon:hover{
    background-color: #222;
}

/* microphone animated icon */
.pi-microphone-ani-icon{
    display: none;
    position: absolute;
    right:59px;
    border-radius: 50%;
    bottom: 8.8px;
    padding:0 7px 3px 7px;

}
/* prompt button */
.pi-button{
    all:unset;
    padding-left: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

