.a-container {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    background-color: #111;
}
.a-c-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-form-box{
    height: 50vh;
    width: 600px;
    max-width: 65vw;
    margin-bottom: 120px;
    border-radius: 15px;
}

.a-form{

    height: 100%;
    padding: 30px;
    text-align: center;
}
.a-logo{
    width: 25px;
    border-radius: 50%;
    margin:7px 7px 7px 7px;
}

.a-brand-name{
    font-size: 20px;
    font-weight: bolder;    
    margin:0 0 30px 0 ;
    display: inline-flex;
    /* background-color: #000; */
    border-radius: 30px;
    letter-spacing: 1px;
}
.a-brand-name > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3px 5px;
}
.a-brand-name > div > span{
    padding: 0 8px;
    color: #f2f2f2;
    background: linear-gradient(25deg, #00d2ff, #3a7bd5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.a-input-group{
    width: 100%;
    display: flex;
    justify-content: center;
    /* display: none; */
}
.a-otp-div{
    display: flex;
    justify-content: center;
    display: none;
}
.a-otp-input{
    background-color: #000;
    border: 1px solid #333;
    color: #cac8c8;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
    font-size: 20px;

}
.a-input{
    padding: 15px 20px 15px 25px;
    border-radius: 30px;
    background-color: #000;
    border: 1px solid #333;
    letter-spacing: 1px;
    font-weight: 500;
    width: 70%;
    position: relative;
    color: #cac8c8;
    font-size: 15px;
}
.a-input:focus{
    border: 1px solid #888;
    outline: 0;
}
.a-otp-input:focus {
    border: 1px solid #05ff11;
    outline: 0;

}

@media (max-width:750px){
    .a-form-box{
        min-width: 90%;

    }

    .a-form{
        padding: 15px;
    }
    .a-input{
        width: 100%;

    }

    
}